body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #262626;
    overflow-x: hidden;
}

/* First Part Styles */
.first-part {
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/drone_desert.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first-part nav {
    position: absolute; 
    top: 10px; 
    width: 100%;
    text-align: center;
}

.first-part nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    margin: 0;
    justify-content: space-evenly;
    margin-left: 5%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part nav a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.first-part nav a:hover::after {
    width: 100%;
}
.first-part h1 {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 175;
    color: #FFFFFF;
}

.first-part h2 {
    margin-top: 0.1%;
    font-size: 60px;
    font-weight: 250;
    color: #FFFFFF;
}

.first-part h3 {
    margin-top: 0.1%;
    font-size: 20px;
    font-weight: 100;
    color: #FFFFFF;
}

.first-part .discover-now {
    margin-top: 20px;
    width: 12.5%;
    height: 5%;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-part .discover-now a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: small;
}

.first-part .discover-now a:hover {
    transform: scale(1.);
    transition: transform 0.5s ease-in-out;
}

.first-part .discover-now a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part .discover-now a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.first-part .discover-now a:hover::after {
    width: 100%;
}

/* Second Part Styles */
.second-part {
    background-color: #262626;
    padding: 50px;
    display: flex; 
}

.second-part img {
    width: 35%;
    height: auto;
    border-radius: 10px;
    margin-right: 5%;
}

.second-part h1 {
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.second-part h1 a {
    color: #0062FF;
}

.second-part p {
    font-family: "Poppins", sans-serif;
    font-size: 12.5px;
    font-weight: 250;
    color: #FFFFFF;
    margin-top: 4%;
    margin-left: -20%;
}

/* Third Part Styles */

.head-1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-1 a {
    color: #0062FF;
}

.articles {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.article-infocontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #FFFFFF;
    width: 25vh;
    border-radius: 10px;
    margin-top: 45%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.article-date {
    font-size: smaller;
    color: #0062FF;
}

.article-description {
    font-size: smaller;
    color: #000000;
}
/* Fourth Part Styles */

.title {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 5%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title a {
    color: #0062FF;
}


.imgs-row {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs-row img {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in-out;

}

.imgs-row img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Lightbox Styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    overflow: auto;
  }
  
  .lightbox-content {
    max-width: 100%;
    max-height: 100vh;
    margin: 5% auto;
    display: block;
  }
  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }
  

/* Footer Styles */
.footer {
    background-color: #262626;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 1%;
}

.footer .row-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer .row-socials img {
    margin: 0 10px;
    height: 20px;
}

.footer p a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 10px;
}